
.set-rz-container{
    height: ~"calc(100% - 35px)";
    overflow-y: auto;
}
.set-rz-header{
    height: 50px;
    display: flex;
    align-items: center;
img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
b{
    font-size: 18px;
    margin-left: 5px;
}
em{
    width: 1px;
    height: 60%;
    background: #f0f0f0;
    margin: 0 10px;
}
span{
    font-size: 16px;
    color: #999;
}
}
.set-rz-tips{
    box-sizing: border-box;
    padding: 15px;
    background: #f8f8f8;
    border: 1px solid #e5e5e5;
    p{
        font-size: 12px;
        color: #666;
        margin-top: 15px;
    }
    p:nth-child(2){margin-top: 20px;}
}
.set-rz-title{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 10px;
    height: 15px;
    border-left: 2px solid #fc6621;
    font-size: 14px;
    em{
        font-weight: 100;
        font-size: 13px;
        color: #999;
        padding-left: 10px;
        border-left: 1px solid #ccc;
        margin-left: 10px;
    }
}
.flex-center(){
    display: flex;
    align-items: center;
}
.box(@t:0,@r:0,@b:0,@l:0){
    box-sizing: border-box;
    padding: @t @r @b @l;
}
.bg-center(){
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
@label-width:120px;
.set-title{font-size: 16px;color: #666;margin-bottom: 10px;}
.set-jy-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-size: 14px;
    background: #f8f8f8;
    border:1px solid #e7e7e7;
    color:#666;
>span{
    cursor: pointer;
    i{margin-left: 5px;}
}
}
.form-area{
    width: 100%;
    height: auto;
    border:1px solid #f2f2f2;
    margin: 15px auto 0 auto;
    .form-area-type{
        height: 17px;
        border-left: 2px solid #44b549;
        font-size: 13px;
        margin: 15px 0 10px 0;
        .flex-center();
        .box(0,0,0,10px);
    }
    .form-area-title{
        height: 35px;
        font-size: 13px;
        background: #f4f5f9;
        .box(0,0,0,10px);
        .flex-center();
    }
    .form-area-body{
        width: 95%;
        height: auto;
        margin: 0 auto;
        .form-item{
            font-size: 12px; 
            //.flex-center();
            display: flex;
            padding: 10px 0;
            >span{
                margin-right: 15px;
                line-height: 30px;
                width: @label-width;
                text-align: right;
                &:before{
                    content: '*';
                    color: transparent;
                }
            }
            .required{
                &:before{
                    content: '*';
                    color: red;
                }
            }
            >div{
                position: relative;
                .el-input{
                    width: 300px;
                }
                .tips{
                    color: #999;
                    margin-top:5px;
                }
                .error{
                    color: red;
                }
                span.error{
                    margin-left:5px;
                }
            }
            .form-item-phone{
                .flex-center();
                >div:nth-child(1){
                    width: 30px;
                    line-height: 28px;
                    text-align: center;
                    background: #f2f2f2;
                    margin-right: 10px;
                }
            }
            .form-item-lm{
                >p{
                    line-height: 30px;
                }
                >div{
                    width: 200px;
                    height: 300px;
                    border: 1px solid #f2f2f2;
                    display: flex;
                    flex-direction: column;
                    .form-item-lm-input{
                        .flex-center();
                        border-bottom:1px solid #f2f2f2;
                        flex-shrink: 0;
                        .box(0,5px,0,5px);
                        input{
                            flex-grow: 1;
                            border: none;
                            margin-right: 10px;
                            font-family: 'microsoft yahei';
                            .box(5px,5px,5px,5px);
                        }
                    }
                    ul{
                        flex-grow: 1;
                        height: 0;
                        overflow-y: auto;
                        li{
                            .box(7px,7px,7px,7px);
                            cursor: pointer;
                            &:hover{
                                background: #f2f2f2;
                            }
                        }
                    }
                }
            }
            .form-item-yyzz{
                width: auto;
                height: 100px;
                margin-top: 10px;
                .flex-center();
                span{margin-right:5px;}
                >div{
                    width: 85px;
                    height: 100%;
                    border-radius: 4px;
                    overflow: hidden;
                    .bg-center();
                }
                >div:nth-child(1){margin-right: 15px;}
            }
            .form-item-sfz{
                height: 50px;
            }
            .form-item-mdzp{
                height: 85px;
            }
            .form-item-mtzp{
                background-image: url('../../../../../assets/mdpic1.png');
            }
            .form-item-mdnj{
                background-image: url('../../../../../assets/mdpic2.jpg');
            }
            .form-item-syt{
                background-image: url('../../../../../assets/mdpic3.jpg');
            }
            .form-item-yyzp{
                background-image: url('../../../../../assets/yyzz.jpg');
            }
            .form-item-sfz1{
                background-image: url('../../../../../assets/sfz1.png');
            }
            .form-item-sfz2{
                background-image: url('../../../../../assets/sfz2.png');
            }
        }
        .form-item-text{
            line-height: 30px;
        }
    }
} 
.sh-status{
    font-size: 100px;
    position: absolute;
    top:50px;
    right: 50px;
    z-index: 2;
}
.zt1{
    color: #409eff;
}
.zt2{
    color: #F56C6C;
}
.zt3{
    color: #67C23A;
}