@font-face{
    font-family: 'yuedong';
    src: url('../../static/font/yuedong.ttf');
    font-weight: normal;
    font-style: normal;
}
.el-table-row{
    padding: 0 0 !important;
}
.el-table-row-disabled{
    padding: 0 0 !important;
    background: #ccc !important;
}
.el-table-cell{
    padding: 7px 0 !important;
}
.cell-span-wrap{
    font-size: 12px;
    width: 100%;
}
.cell-span{
    font-size: 12px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.cell-span>img{margin-left: 10px;}
.cell-span-blue{
    color: #409EFF;
    cursor: pointer;
}
.cell-span-gray{
    color: #aaa;
    cursor: default;
}
.el-table-drak-head{
    background-color: #f0f0f0 !important;
    font-size: 12px;
    padding: 8px 0 !important;
}
.pagination{
    padding: 10px 0;
    background: #fff;
    text-align: center;
    border-top: 1px solid #f4f4f9;
}


.set-tab{
  width: 100%;
  height: auto;
  border-bottom: 1px solid #f0f0f0;
  position: relative;
  left:-10px;
  top:-10px;
  color: #888;
}
.set-tab-item{
    font-size: 14px;
    padding: 15px 0;
    display: inline-block;
    cursor: pointer;
    margin: 0 10px;
}
.set-tab-select{
    border-bottom: 1px solid #409eff;
    color: #409eff;
}
.wdsp-tab{
    height: auto;
    border-bottom: 1px solid #ccc;
    position: relative;
    display: flex;
    user-select: none;
    margin-bottom: 10px;
    position: relative;
    align-items: center;
}
.wdsp-tab>div{
    width: 80px;
    text-align: center;
    line-height: 35px;
    position: relative;
    top:1px;
    border-top:1px solid #ccc;
    border-right:1px solid #ccc;
    border-bottom:1px solid #ccc;
    background: #f0f0f0;
    cursor: pointer;
}
.wdsp-tab>div:nth-child(1){border-left:1px solid #ccc;}
.wdsp-tab .selected{border-bottom:1px solid #fff;background: #fff;}

.set-gray-head{
    box-sizing: border-box;
    padding: 20px;
    background: #f8f8f8;
}
.set-gray-head .set-gray-head-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
}
.set-gray-head .set-gray-head-top p:nth-child(2){font-size: 12px;margin-top: 10px;}
.set-gray-head>p{
    margin-top: 20px;
}
.set-gray-head>p a{color: #409eff;}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.i-close{
    font-weight:bold;
    font-size:18px;
    color:#ccc;
    cursor: pointer;
}
/* 两行超出省略 */
.ellipsis2rows{
    overflow:hidden; 
    text-overflow:ellipsis;
    display:-webkit-box; 
    box-orient:vertical;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2; 
}
.slideRight{
    position: absolute;
    top:1px;
    right: 0;
    height:calc(100% - 1px);
}

.slideRight-enter-active{
    animation:slideRight .3s;
}
.slideRight-leave-active{
    animation:slideRightclose .3s;
}
.dragGhost{
    visibility: hidden;
}
/* 底部保存按钮 */
.form-save-btn{
    position: fixed;
    bottom: 0;
    padding: 10px 0;
    background: #f0f0f0;
    text-align: center;
    z-index: 5;
}
.form-save-border{
    border-top: 1px solid #dedede;
}
.i-number{
    width: 100%;
    box-sizing: border-box;
    padding: 0 7px;
    line-height: 28px;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
}
.i-number:focus{
    border-color: #409eff; 
 }

 .empty-tip{
    padding:20px 0;
    color: #999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.empty-tip i{
    font-size:25px;
    margin-right:10px;
}
.empty-tip span{font-size: 12px;}

.empty-suggestion-tip{
    width:100%;
    background: #fff;
    padding: 5px 0;
    text-align: center;
    color:#aaa;
}

.image-fixed{
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
.image-fixed>img{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}
@-webkit-keyframes slideRight{
    from{right:-100%;}
    to{right: 0;}
}
@keyframes slideRight{
    from{right:-100%;}
    to{right: 0;}
}
@-webkit-keyframes slideRightclose{
    from{right: 0;}
    to{right: -100%;}
}
@keyframes slideRightclose{
    from{right: 0;}
    to{right: -100%;}
}

/*滚动条 start*/
::-webkit-scrollbar {
    width: 9px;
    height: 9px;
    background-color: transparent;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    border-radius: 10px;
    background-color: transparent;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    background-color: #afafaf;
}

::-webkit-scrollbar-thumb:hover {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    background-color: #afafaf;
}