@import '../../styles/common.less';
.mall-container{
    width: 100%;
    height: 100%;
    background: #fff;
    box-sizing: border-box;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    >div:nth-child(1),>div:nth-child(2){flex-shrink: 0;}
    >div:nth-child(3){
        flex-grow: 1;
    }
    .tab{
        padding: 0;
        border: none;
        display: flex;
        justify-content: center;
        border-bottom:1px solid @border-color ;
        >div{
            width: 100px;
            padding: 7px 10px;
            border: 1px solid @border-color;
            border-bottom: none;
            cursor: pointer;
            border-radius: 4px;
            font-size: 14px;
            text-align: center;
            margin-bottom: -1px;
        }
        >div:nth-child(2){margin-left: -1px;}
        .selected{background: #b1e7fc;}
    }
    .mall-header{
        padding: 20px 10px;
        border-top:1px solid @border-color; 
        border-bottom:1px solid @border-color ;
        border-bottom: none;
        >div:nth-child(1){
            display: flex;
            align-items: center;
            justify-content: space-between;  
            >div{
                display: inline-flex;
                align-items: center;
                b{
                    font-size: 16px;
                    margin-right: 10px;
                }
                div{
                    padding: 3px 5px;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                }
                .success{border-color:#26cb72;color:#26cb72;}
                .error{border-color:#F56C6C;color:#F56C6C;}
            }
            img{
                padding: 10px;
                border: 1px solid #ccc;
                cursor: pointer;
                border-radius: 4px;
            }
            .selected{
                background: #f2f2f2;
            }
        }
        .mall-header-config{
            margin-top: 10px;
            >div:nth-child(1){
                box-sizing: border-box;
                padding: 10px;
                background: @border-color;
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 13px;
                i{cursor: pointer;}
            }
            >div:nth-child(2){
                box-sizing: border-box;
                padding:0 20px;
                border-bottom: 1px solid @border-color;
                display: flex;
                align-items: center;
                color: #999;
                .mall-config-left{
                    height: 158px;
                    flex-shrink: 0;
                    padding-right: 20px;
                    border-right:1px solid @border-color;
                    >div{
                        margin: 15px 0;
                        >span:nth-child(1){width: 200px;display: inline-block;}
                        .success{color:#67C23A;}
                        .error{color:#F56C6C;}
                    }
                }
                .mall-config-right{
                    flex-grow: 1;
                    box-sizing: border-box;
                    padding: 0 10px;
                    display: inline-flex;
                    align-items: center;
                    height: 158px;
                    >div:nth-child(1){
                        flex-grow: 1;
                        height: 100%;
                        box-sizing: border-box;
                        padding-top: 10px;
                        :nth-child(3){
                            margin-top: 20px;
                        }
                    }
                    .el-button{
                        flex-shrink: 0;
                    }
                }
            }
        }
    }
    .mall-title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        b{font-size: 14px;color: #3a3a3a;}
        span{
            font-size: 12px;
            color: #ccc;
            display: inline-flex;
            align-items: center;
            a{color:#409EFF;margin: 0 5px 0 10px;}
            i{color: #999;font-size: 20px;}
        }
    }
    
}